<!DOCTYPE html>
<html>
<head>
  <title>Jeff's Perm</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="wrapper">
      <div class="wrapper-inner">   
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
